.red-border {
	border-left: solid;
	width: 5px;
	color: red;
}

.note {
	font-size: 10px;
	color: @gray-lighter;
}

.head-row {
	margin-top: 30px;
	margin-bottom: 10px;
}

	.orders {
		margin: 0;
	}

	.note {
		margin-top: 20px;
	}

	.practices {
		margin-top: 10px;
	}

	.pagation {
		margin-top: 20px;
	}

	.arrows {
		margin-top: 20px;
	}

		.change-page {
			width: 40px;
			background-color: @gray-lighter;
			border-radius: 5px;
			color: @gray-light;
			font-size: 10px;
		}

.order-nav {
	margin-right: 0px;
}

.order-info {
	background-color: #f7f7f7;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: solid @gray-lighter 2px;
	border-bottom: solid @gray-lighter 2px;
}

	.order-red {
		border-left: solid @brand-danger 10px;
	}
	.order-orange {
		border-left: solid @brand-warning 10px;
	}
	.order-green {
		border-left: solid @brand-success 10px;
	}
	.order-gray {
		border-left: solid @gray-light 10px;
	}

	 .order-button {
	 	background-color: black;
	 	color: white;
	 	border-radius: 5px;
	 	text-align: center;
	 	margin-top: 5px;
	 	margin-bottom: 5px;
	 }

	 .order-button:hover {
	 	background-color: @brand-warning;
	 	color: white;
	 	border-radius: 5px;
	 	text-align: center;
	 	margin-top: 5px;
	 	margin-bottom: 5px;
	 	text-decoration: none;
	 }

.new-order {
	margin-top: 50px;
	margin-bottom: 70px;
	margin-left: 50px;
}

.sidebar {
	background-color: @gray-lighter;
}

	.sidebar-content-1 {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		border-bottom: solid white 1px;
	}

	.sidebar-content-2 {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

		.sidebar-link {
			color: DarkBlue;
			text-decoration: underline;
		}

		.icon {
			margin-top: 5px;
			margin-bottom: 15px;
		}

		.info {
			margin: 0;
		}









