/* Demo LESS File */

/* ===================================================================
Import Bootstrap LESS and Site Specific LESS
=================================================================== */

@import '../bower_components/bootstrap/less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import '../bower_components/font-awesome/less/font-awesome.less';

.popover-content {

	ul.popover-list {
		border-radius:3px;
		padding:0px;
		li {
			padding:10px;
			list-style:none;
			border-bottom:thin solid @gray-lighter;
		}
	}
}

.popover-link:hover {
	text-decoration: none;
}

.page-body-container {
	padding:20px;
	h1 {
		font-size:20px;
		margin: 10px 0;
	}

	.page-body {

	}
}

@import '../less/variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import '../less/header.less';
@import '../less/orders.less';
@import '../less/patients.less';
